@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo&family=Grandstander:wght@100&family=IBM+Plex+Serif:wght@100&family=Xanh+Mono&display=swap");

.panel-content-inner {
	background-image: url("../res/watercolor_paper.jpg");
	max-width: 50%;
	min-width: 50%;
	margin-top: 20px;
	height: auto;
}

.download {
	float:right;
}

.resume-header {
	display: table;
	margin-top: 20px;
	width: 100%;
}

.profile-title {
	display: table-cell;
}

.name {
	color: #000;
	font-family: "Times New Roman", Times, serif;
	font-size: 50px;
	font-weight: 800;
	margin-bottom: 0 !important;
	text-align: center;
}

.objective {
	display: block;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.3rem;
	max-width: 80%;
	margin: 0 auto;
}

.resume-body {
	display: inline-flex;
	width: 100%;
}

.resume-body-left {
	width: 100%;
	padding: 5px;
  text-align: left;
}


.resume-body-left .item {
	padding: 15px 0;
}

.resume-body-left .item .item-content {
	display: inline-flex;
}

.resume-body-left .item .item-content .item-content-left {
	display: block;
	width: 30%;
	font-size: 1rem;
	font-style: italic;
	padding: 5px 10px;
}

.resume-body-left .item .item-content .item-content-right {
	display: block;
	width: 75%;
}

.resume-body-left .item .item-content .item-content-right .item-title {
	font-size: 1.2rem;
	font-weight: 700;
	font-family: 'Archivo', sans-serif;
}


.contact ul, .language ul {
    list-style: none;
    padding-left: 0;
}

.contact-icon {
	margin: 0 5px;
	display: inline-block;
	font-size: 1.3rem;
}

.language .item li {
	text-align: left;
}

.language .item .item-content-list {
	display: inline-flex;
}

.language .item .item-content-list .language-image {
	width: 60px;
	height: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.language .item .item-content-list .level {
	font-size: 1rem;
	line-height: 3.5rem;
}

.language .item .caption {
	font-size: 1rem;
	font-family: 'Archivo', sans-serif;
}

.skill .skill-image {
	display: inline-table;
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 20px 20px;
	margin: 3px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.skill .skill-image:hover .skill-label {
	visibility: visible;
}

.skill .skill-image .skill-label {
	width: 60px;
	height: 60px;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 20px 20px;
	color: #ffffff;
	padding: 10px;
	align-items: left;
	text-align: left;
	font-size: 0.9rem;
}

.category {
	display: block;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
	border-radius: 10px;
	padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
	margin: 5px 5px;
}

.category .category-title {
	font-weight: bold;
	font-size: 1.5rem;
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	margin: 10px 0;
}

.category .item-container {
	display: block;
	font-size: 1.2rem;
}

.category .item-container .item-content {
	font-family: "Times New Roman", Times, serif;
	width: 100%;
}